.shadow-4-hover:hover {
  border-color: transparent;
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.2);
}

.bg-grayer {
  background-color: #212121;
}

.bg-grayer2 {
  background-color: #2e2e2e;
}

.h-20 {
  height: 20%;
}

.h-60 {
  height: 60%;
}
